# 1-import du package

In [1]:
import pandas as pd

# 2-Creation d'un dataframe

In [2]:
# creer a partir d'un dictionnaire
etudiant={'Nom':['mendong','ekounou','bastos','zibi'],
         'Prenom':['lila','nati','abriel','paul'],
         'Notes':[19,12,15,18]}
etudiant

{'Nom': ['mendong', 'ekounou', 'bastos', 'zibi'],
 'Prenom': ['lila', 'nati', 'abriel', 'paul'],
 'Notes': [19, 12, 15, 18]}

In [3]:
data_etudiant=pd.DataFrame(etudiant)
data_etudiant

       Nom  Prenom  Notes
0  mendong    lila     19
1  ekounou    nati     12
2   bastos  abriel     15
3     zibi    paul     18

In [4]:
# creer a partir d'un fichier excel csv etc
df=pd.read_csv('/kaggle/input/pima-indians-diabetes-database/diabetes.csv') # pd.read_excel pour excel
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
# afficher les n=5 premiers elements
df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
# afficher les n=5 derniers elements
df.tail(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [7]:
# avoir la liste des colones du dataframe
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [8]:
# voir le type de donnees(colones) du dataframe
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [9]:
# dimension du dataframe
df.shape

(768, 9)

# 3-Lecture des tableaux pandas

## 3-1-Selectionner le colones

In [10]:
df.Age

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [11]:
df['Age'].head(6)

0    50
1    31
2    32
3    21
4    33
5    30
Name: Age, dtype: int64

In [12]:
# connaitre les valeurs unique d'une variable
df['Outcome'].unique()

array([1, 0])

In [13]:
# selectionner un ensemble de ligne qui respectent une condition
df[df['Outcome']==1].head(6)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

## 3-2-indexation avec iloc et loc

In [14]:
df.iloc[:12,:9]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1

In [15]:
df.iloc[-12:-1,:9]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1

In [16]:
df.loc[df['Age']>10,['BMI','Outcome']]

      BMI  Outcome
0    33.6        1
1    26.6        0
2    23.3        1
3    28.1        0
4    43.1        1
..    ...      ...
763  32.9        0
764  36.8        0
765  26.2        0
766  30.1        1
767  30.4        0

[768 rows x 2 columns]

# 4-statistique descriptives

In [17]:
# statistiques des variables quantitatives
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [18]:
# statistiques des variables qualitatives
# df.describe(include="object")

In [19]:
# compter les valeurs manquantes
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

# 5-Modifier dataframe

In [20]:
# supprimer une colones
df.drop('Outcome', axis=1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [21]:
# creer une nouvelles colone a partir d'autres colones du dataframe
df['age normalize']=df['Age']/10
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,age normalize
0,6,148,72,35,0,33.6,0.627,50,1,5.0
1,1,85,66,29,0,26.6,0.351,31,0,3.1
2,8,183,64,0,0,23.3,0.672,32,1,3.2
3,1,89,66,23,94,28.1,0.167,21,0,2.1
4,0,137,40,35,168,43.1,2.288,33,1,3.3
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,6.3
764,2,122,70,27,0,36.8,0.340,27,0,2.7
765,5,121,72,23,112,26.2,0.245,30,0,3.0
766,1,126,60,0,0,30.1,0.349,47,1,4.7
767,1,93,70,31,0,30.4,0.315,23,0,2.3

In [22]:
# mettre a jour le dataset 
df.loc[df['age normalize']>2,'age normalize']=0
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,age normalize
0,6,148,72,35,0,33.6,0.627,50,1,0.0
1,1,85,66,29,0,26.6,0.351,31,0,0.0
2,8,183,64,0,0,23.3,0.672,32,1,0.0
3,1,89,66,23,94,28.1,0.167,21,0,0.0
4,0,137,40,35,168,43.1,2.288,33,1,0.0
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,0.0
764,2,122,70,27,0,36.8,0.340,27,0,0.0
765,5,121,72,23,112,26.2,0.245,30,0,0.0
766,1,126,60,0,0,30.1,0.349,47,1,0.0
767,1,93,70,31,0,30.4,0.315,23,0,0.0